body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(to bottom right, #1e1f4b, #3e2c6d);
  color: white;
  padding-bottom: 80px;
  text-align: center;
}

header {
  padding: 20px;
}

.red {
  color: #ff4d4d;
  font-weight: bold;
}

.blue {
  color: #00bfff;
  font-weight: bold;
}

section {
  margin: 20px auto;
  padding: 20px;
  max-width: 600px;
  background-color: #2c2c2c;
  border-radius: 10px;
}

.contact-buttons a,
.join-button {
  display: inline-block;
  margin: 10px;
  padding: 10px 20px;
  background-color: #00bfff;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.contact-buttons a:hover,
.join-button:hover {
  background-color: #0099cc;
}

.bottom-nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #222;
  display: flex;
  justify-content: space-around;
  padding: 6px 0;
  border-top: 1px solid #444;
  z-index: 1000;
  height: 60px;
}

.bottom-nav a {
  text-decoration: none;
  color: white;
  flex: 1;
  text-align: center;
}

.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 10px;
}

.nav-item img {
  width: 24px;
  height: 24px;
  margin-bottom: 3px;
}
.button{
  display: inline-block;
  margin: 10px;
  padding: 10px 20px;
  background-color: #00bfff;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}